.nleh {
  display: grid;
  grid-template-columns: auto 4rem;

  &__version {
    &--number {
      margin: 0 5px;
      font-weight: bold;
    }

    &--date {
      margin-right: 5px;
    }
  }

  &__toolbar {
    height: 100%;
    // TODO:  check why align-items: center; didn't work in the builded version
    margin-top: 12px;
    padding-left: 3rem;

    .ant-form-item-label {
      label {
        padding-top: 3px;
        font-size: small;
      }
    }

    button {
      margin-left: 5px;
    }

    .template-name {
      display: block;
      max-width: 15rem;
      overflow: hidden;
      font-size: 1.1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__close {
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
    font-size: 1.3rem;
    text-align: center;
  }
}
