.nleh {
  display: grid;
  grid-template-columns: auto min-content;

  &--label {
    padding-right: 0.3rem;
    font-size: 0.8rem;

    &::after {
      content: ":";
    }
  }

  &__title {
    display: flex;
    align-items: center;
    max-width: 30%;
    padding: 0 1rem;
    padding-right: 3rem;
    padding-left: 1rem;
    overflow: hidden;

    &--name {
      font-size: 1.1rem;
      text-overflow: ellipsis;
    }
  }

  &__version {
    min-width: 18rem;

    &--number {
      margin-top: 0.3rem;
      padding: 0 0.5rem;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  &__toolbar {
    display: inline-flex;
    overflow: hidden;
    overflow-y: auto;

    & > * {
      margin: 0 0.5rem;
    }
  }

  &__close {
    display: flex;
    align-items: center;
    width: 3.5rem;
    height: 100%;
    padding: 0 1rem;
    border-radius: 0;
    font-size: 1.3rem;
    text-align: center;
  }
}
