@import "assets/scss/_variables";

// grapesjs-preset-newsletter overrides
$active-color: $primary-color !default;

@import "grapesjs/src/styles/scss/main.scss";
@import "grapesjs-preset-newsletter/src/style/main.scss";

.nle {
  height: 100%;

  $nle-header-height: 56px;

  &__header {
    height: $nle-header-height;
    line-height: $nle-header-height;
  }

  &__containter {
    height: calc(100% - #{$nle-header-height});
  }
}

.nle-spinner {
  width: 100%;
  margin-top: 25vh;
}

//removes the toggle btn from preview mode
.gjs-off-prv {
  display: none !important;
}
