@import "../../../assets/scss/variables";

// it's outside of the flow
.ant-tabs-dropdown .tab-panel-title .anticon {
  margin-right: 5px;
}

.responsive-tabs {
  .ant-tabs-nav {
    background: $layout-bg;

    .ant-tabs-tab {
      border-radius: 0.8rem 0.8rem 0 0 !important;

      &:not(.ant-tabs-tab-active) {
        background-color: #D8DDE3;
      }

      .tab-panel-title {
        margin-right: 1.8rem;
      }

      .ant-badge .ant-badge-count {
        margin-top: 0.1rem;
        margin-right: 0.4rem;
        background-color: #F5222D;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }

    .ant-tabs-tab:not(:last-of-type) {
      margin-right: 0.5rem !important;
    }
  }
}
