$primary-color: #08979C;
$primary-color-light: #E6FFFB;
$error-color: #FF4141;
$warning-color: #FFA341;
$text-color: #262626;
$label-color: #262626;
$screen-sm: 576px;
$card-radius: 1rem;
$card-padding-base: 1.5rem;
$border-color-base: #D9D9D9;
$border-radius-base: 0.2rem;
$btn-border-radius-base: 2rem;
$btn-border-radius-base-sm: 2rem;
$table-header-bg: #FFFFFF;
$table--odd-row-bg: #FFFFFF;
$table--even-row-bg: #F7F7F7;
$table--odd-row-hover-bg: #F4F5F5;
$table--even-row-hover-bg: #ECEDEE;
