$primary-color: #08979c;
$primary-color-light: #e6fffb;
$error-color: #ff4141;
$warning-color: #ffa341;
$text-color: #262626;
$label-color: #262626;
$screen-sm: 576px;
$card-radius: 1rem;
$card-padding-base: 1.5rem;
$border-color-base: #d9d9d9;
$border-radius-base: 0.2rem;
$btn-border-radius-base: 2rem;
$btn-border-radius-base-sm: 2rem;
$table-header-bg: #ffffff;
$table--odd-row-bg: #ffffff;
$table--even-row-bg: #f7f7f7;
$table--odd-row-hover-bg: #f4f5f5;
$table--even-row-hover-bg: #ecedee;
$table--row-min-height: 3rem;
$control-label-font-size: 9px;
$control-label-font-color: rgb(169, 169, 169);
