$primary-color: #08979C;
$error-color: #FF4141;
$warning-color: #FFA341;
$text-color: #262626;
$label-color: #262626;
$screen-sm: 576px;
$card-radius: 1rem;
$card-padding-base: 1.5rem;
$border-color-base: #D9D9D9;
$border-radius-base: 0.2rem;
$btn-border-radius-base: 2rem;
$btn-border-radius-base-sm: 2rem;
$table-header-bg: #FFFFFF;
