// How to reuse ant variables
// 1. Pick a variable form here: https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
// 2. Convert it to sass and place it in _ant-variables.scss.
// 3. You can also override it by using a new value for that variable.
// 4. Define only new variables when there's no variable for the same purpose in the above file. E.g: $primary-color.
@import "ant-variables";

$color-white: #FFFFFF;
$notification-color: #F5222D;
$navbar-bg: #001529;
$layout-bg: #F0F2F5;
$campaign-state-accepted-color: #52C41A;
$campaign-state-accepted-bg: #DEF6D2;
$campaign-state-created-color: #5845A1;
$campaign-state-created-bg: #E2DBFC;
$campaign-state-waiting-color: #EB1991;
$campaign-state-waiting-bg: #FFD6EE;
$campaign-state-closed-color: #595959;
$campaign-state-closed-bg: #E6E6E6;
$campaign-state-archived-color: #BBBBBB;
$campaign-state-archived-bg: #F2F2F2;
$campaign-state-deleted-color: #F5222D;
$campaign-state-deleted-bg: #FFF1F0;

// Segmentation editor RTD legacy design
$Color-SolidSimpleSeparator: rgba(0, 0, 0, 0.15);

$Color-Background-Input-Base: rgb(255, 255, 255);
$Color-Foreground-Input-Base: rgb(155, 155, 155);
$Color-Foreground-Headers: rgba(255, 255, 255, 0.75);
$Color-Foreground-Inline-Button: rgba(255, 255, 255, 1);
$Color-Background-Card-Header-Base: rgba(169, 211, 179, 1);
$Color-Background-Card-Header-Button-Highlight: rgba(85, 185, 167, 0.95);


$FontSize-Default-Header: 14px;

$Color-Segmentation-background: rgba(255, 255, 255, 1);
$Color-Segmentation-Group-Background: rgba(115, 175, 115, 0.175);
$Color-Segmentation-Groupborders: rgba(85, 185, 167, 0.25);
$Color-Segmentation-Rule-Background: rgba(225, 225, 225, 0.925);
$Color-Segmentation-Group-Treeborders: rgba(0, 0, 0, 0);
