:root {
  .ant-form-item-label label.ant-form-item-required {
    // "Required" asterisk goes after the label.
    &:not(.ant-form-item-required-mark-optional)::before,
    &::before {
      all: unset;
      display: none;
    }

    &::after {
      content: "*";
      display: inline-block;
      margin-left: 4px;
      font-family: SimSun, sans-serif;
      font-size: 14px;
      line-height: 1;
    }
  }

  h3.ant-typography {
    // Title level 3
    color: $primary-color;
  }

  h4.ant-typography {
    // Title level 4
    margin-bottom: 1rem;
    color: $primary-color;
  }

  .ant-card {
    border: none;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.102);
  }

  .ant-form-item {
    margin-bottom: 0.7rem;

    .ant-form-item-label {
      padding-bottom: 0.1rem;
      font-weight: bolder;
    }
  }

  .ant-modal-content {
    border-radius: 14px;
  }

  .ant-modal-header {
    padding: 28px 28px 0 28px;
    border-bottom: 0;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }

  .ant-modal-title {
    font-weight: bold;
  }

  .ant-layout-header {
    position: relative;
  }

  .ant-table-filter-dropdown {
    min-width: 200px;
    max-width: 340px;
    overflow: hidden;
    border-radius: 0.5rem;

    .ant-picker-panel {
      margin: 0 0.5rem;
    }

    .ant-picker-calendar-mini {
      max-width: 300px;

      .ant-picker-calendar-header {
        .ant-picker-calendar-month-select {
          min-width: 85px;
        }

        .ant-picker-calendar-mode-switch {
          display: none;
        }
      }
    }

    .ant-table-filter-dropdown-btns {
      margin: 0 0.5rem;
      padding: 0.5rem;

      .ant-btn-link {
        width: unset;
        padding: unset;
      }
    }

    .ant-dropdown-menu {
      max-height: 300px;
    }
  }

  .ant-input[disabled].readonly-form-item {
    padding-left: 0;
    border: none;
    background-color: transparent;
    color: $text-color;
  }

  .ant-form-item.hidden-form-item,
  .ant-input[type="hidden"] {
    height: 0;
    margin-bottom: 0;
  }

  .table-select__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .table-select__checkbox.table-select__checkbox--minus {
    .ant-checkbox-checked .ant-checkbox-inner::after {
      -webkit-transform: rotate(0deg) scale(1) translate(25%, -80%);
      transform: rotate(0deg) scale(1) translate(25%, -80%);
      border-right: 0;
    }
  }

  .table-select__dropdown {
    margin-left: 3px;
    color: $primary-color;
  }
}
