{
  "extends": [
    "standard",
    "standard-react",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react-hooks"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": [
      "error",
      {
        // Based on https://github.com/npetruzzelli/prettier-config-standard/blob/master/.prettierrc.json
        "arrowParens": "avoid",
        "bracketSpacing": true,
        "jsxBracketSameLine": false, // true breaks component closing tags
        "jsxSingleQuote": false,
        "printWidth": 100,
        "quoteProps": "as-needed",
        "semi": false,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "none",
        "useTabs": false
      }
    ],
    // TODO: instead of turning it off just give it a better config https://github.com/typescript-eslint/typescript-eslint/blob/v2.16.0/packages/eslint-plugin/docs/rules/explicit-function-return-type.md ?
    "@typescript-eslint/explicit-function-return-type": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
