.profile-status-approved .status-badge {
  background: #78e625;
}

.profile-status-declined .status-badge {
  background: #a6adb4;
}

.profile-status-waiting-for-approval .status-badge {
  background: #35a2e5;
}
