.profile-status-active .status-badge {
  background: #78e625;
}

.profile-status-inactive .status-badge {
  background: #a6adb4;
}

.profile-status-declined .status-badge {
  background: #e53225;
}

.profile-status-waiting-for-approval .status-badge {
  background: #35a2e5;
}
