.filterBox {
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
}

.filterBox h3 {
  margin: 0;
}

.filterBox input {
  margin: 0 10px;
}

.beerContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 120px);
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}
.beerContainer ul{
  list-style-type: none;
}

.beerItem {
  height: 100px;
  width: 100px;
  text-align: center;
  border-radius: 50px;
  justify-content: center;
  background: white;
  background: linear-gradient(45deg, white, yellow);
  cursor: grab;
}

.beerItem:active {
  cursor: grabbing;
}

.beerItemImage {
  padding-top: 5px;
  height: 40px;
}

.beerItemName {
  font-size: 0.7em;
}

.beerItemPercentile {
  font-weight: 600;
}

.strong {
  color: red;
}
