@import "../../../../assets/scss/ant-variables";

.group-editor-form {
  &__actions {
    float: right;
  }

  &__name {
    font-size: 2em;
  }

  &__profile-list {
    padding: 0;
  }

  &__permissions-list {
    padding: 0;

    & > div > div {
      padding: 10px !important;
    }
  }

  &__permissions-item {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-right: $card-radius;
    padding: 5px;
    border: 1px solid $primary-color;
  }

  &__permission-name {
    align-self: center;
  }

  &__permission-unassign-btn {
    width: 100%;
    max-lines: 2;
  }

  &__permissions-more {
    border: 1px solid $primary-color;
    color: $primary-color;
    font-weight: 500;
    text-align: center;
  }
}
