@import "assets/scss/_variables";

td > .crudButtons {
  padding: 0 5px;
  text-align: right;
  white-space: nowrap;
}

.crud-button {
  border: none;
  font-size: 1.5em;
  height: auto;
  padding: 0 10px;

  &,
  &:hover,
  &:focus {
    background-color: transparent;
  }
}
