@import "assets/scss/_variables";

.fab {
  $fab-offset: 25px;
  $fab-size: 45px;
  $fab-icon-size: 18px;
  $fab-badge-inset: 4px;

  position: fixed;
  width: #{$fab-size};
  height: #{$fab-size};
  border-color: #FFFFFF;
  box-shadow: 0 0 6px #00000029;

  &--v-top {
    top: #{$fab-offset};
  }

  &--v-bottom {
    bottom: #{$fab-offset};
  }

  &--h-left {
    position: absolute;
    left: #{$fab-offset};
  }

  &--h-right {
    right: #{$fab-offset};
  }

  &__badge {
    position: initial !important;

    .ant-badge-count {
      top: #{$fab-badge-inset};
      right: #{$fab-badge-inset};
      background-color: $notification-color;
      box-shadow: none;
    }

    .ant-badge-multiple-words {
      padding: 0 5px;
    }
  }

  .anticon {
    svg {
      width: #{$fab-icon-size};
      height: #{$fab-icon-size};
    }
  }
}
