.category-page {
  height: 100%;
  padding: 2rem 0;

  &--mobile {
    padding: 0;
  }
}

.category-list {
  &__header {
    display: flex;
    justify-content: space-between;

    h3 {
      display: inline-flex;
      padding-top: 0.1rem;
      padding-bottom: 0;
    }
  }

  &__col {
    &--data {
      .ant-btn {
        margin: 10px;
        padding: 0 10px;
      }
    }

    &--action {
      width: 110px;
      padding: 0 14px 0 5px !important;

      .ant-btn {
        &:first-child {
          margin-right: 8px;
        }

        padding: 0 10px;
      }
    }
  }

  &__item {
    &--editing {
      .ant-table-cell {
        background: rgba(3, 86, 9, 0.217);
      }
    }
  }
}

.category-modal {
  &__error-msg {
    color: rgb(255, 0, 0);
    text-align: center;
  }
}
