%shared-list-variables {
  --title-height: 60px;
  --footer-height: 60px;
}

.category-page {
  @extend %shared-list-variables;

  height: 100%;
  padding: 2rem 0;
  &--mobile {
    padding: 0;
  }
}

.list-error {
  color: red;
  font-weight: 500;
  text-align: center;
}

.list-card {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0px 6px 12px -10px black;
  margin: 0rem auto;
  max-width: 650px;
  height: inherit;

  .ant-card-body {
    padding: 0rem;
    // for making the table adaptive
    height: inherit;
    & > * {
      height: inherit;
      & > * {
        height: inherit;
        & > .ant-spin-container {
          height: inherit;
        }
      }
    }
  }
  &--mobile {
    border-radius: unset;
    box-shadow: 0px 6px 12px -10px black;
  }
}

.list-card_table {
  height: calc(100% - var(--footer-height));
  .ant-table-title {
    height: var(--title-height);
  }
  .ant-table-footer {
    height: var(--footer-height);
    margin-top: 2px;
  }
  .ant-pagination {
    background: red;
  }
  .ant-table-container {
    height: calc(100% - var(--title-height));

    .ant-table-content {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;

      table {
        th {
          border-bottom: 2px solid rgba(0, 0, 0, 0.068);
          position: sticky;
          top: 0;
          z-index: 1;
        }
        tbody > tr:last-child > td {
          border: none;
        }
      }
    }
  }

  & + .ant-pagination.ant-table-pagination {
    border-top: 2px solid rgba(0, 0, 0, 0.068);
    display: flex;
    align-items: center;
    justify-content: center;
    float: unset;
    text-align: center;
    margin: 0;
    height: var(--footer-height) !important;
    .ant-pagination-options {
      width: 120px;
    }
  }
}

.category-list {
  &__header {
    display: flex;
    justify-content: space-between;
    h3 {
      display: inline-flex;
      padding-top: 0.1rem;
      padding-bottom: 0;
    }
  }

  &__col {
    &--data {
      // text-align: end;
      .ant-btn {
        padding: 0 10px;
        margin: 10px;
      }
    }
    &--action {
      width: 110px;
      padding: 0 14px 0 5px !important;
      .ant-btn {
        &:first-child {
          margin-right: 8px;
        }

        padding: 0 10px;
      }
    }
  }

  &__item {
    &--editing {
      .ant-table-cell {
        background: rgba(3, 86, 9, 0.217);
      }
    }
  }
}

.category-modal {
  &__error-msg {
    text-align: center;
    color: red;
  }
}
