.profile-editor-basics-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-editor-basics-picture-container {
  flex: 0 0 150px;
  margin: 20px 50px 0 20px;
}

.profile-editor-basics-controls-container {
  flex: 1 0 0;
}

.proffilePicture {
  max-width: 100%;
  height: auto;
}
