.layout {
  section.ant-layout {
    height: 100vh;
    overflow-x: visible !important;
  }

  main.ant-layout-content {
    overflow: auto;
  }

  .language-selector-container {
    position: absolute;
    right: 0;
    margin-top: 24px;
  }

  .layout-content {
    position: relative;
    // The size of back button
    top: -32px;
    min-height: 100vh;
  }
}

.content {
  overflow: auto;
}

.drawer {
  .ant-drawer-wrapper-body {
    background: #001529;

    .ant-drawer-body {
      padding: 0;
    }
  }
}

.header__menu-button {
  position: relative;
  z-index: 2;
  top: 16px;
  left: -16px;

  &.mobile {
    top: 5px;
    left: 5px;
  }
}

.app-version {
  color: #8C8C8C;
  font-size: 12px;
  text-align: center;
}
