.layout {
  section.ant-layout {
    height: 100vh;
    overflow-x: visible !important;
  }

  main.ant-layout-content {
    overflow: auto;
  }
}

.content {
  overflow: auto;
}

.drawer {
  .ant-drawer-wrapper-body {
    background: #001529;

    .ant-drawer-body {
      padding: 0;
    }
  }
}
