@import "assets/scss/_variables";

.side-menu-options {
  &.smo-footer {
    position: absolute;
    bottom: 1em;
    width: 100%;
    min-height: 100px;
  }

  .side-menu-vertical-delimiter {
    border-top: 1px solid #4c4c4c;
  }

  .side-menu-nolink {
    cursor: default;
  }

  .app-version {
    padding-top: 15px;
    color: #a6adb4;
  }
}

.section-title {
  padding-left: 24px;
  color: white;
  font-weight: bold;

  @media screen and (max-width: 400px) {
    display: none;
  }
}

.section-part {
  width: 100%;
  margin-bottom: 0;
  padding-top: 8px;
  border-top: 1px solid #4c4c4c;

  &--without-title {
    padding-top: 0;
  }
}
