@import "assets/scss/_variables";

.side-menu {
  overflow: hidden;

  &__header {
    margin: 0.75rem;
  }

  &__logo {
    margin-right: 10px;
    pointer-events: none;

    &--mini {
      // margin-left: 0.55rem;
      width: 46px;
      height: 45px;
    }
  }
}
