@import "assets/scss/_variables";

.notification-item {
  padding: 17px 16px 10px 15px !important;
  border-bottom: 1px solid black;

  .ant-list-item-meta {
    margin-bottom: 0 !important;

    &-title {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: semi;
    }

    .notification-detail {
      margin-bottom: 15px;
      color: $faded-text-color;
    }
  }

  .ant-list-item-action {
    margin-top: 0.2rem !important;
    padding-left: 3rem;
  }

  border-left: 7px solid transparent;

  &--unread {
    border-left: 7px solid $primary-color;
    background: $primary-color-light;
  }

  &:hover {
    background: rgba($color: #000000, $alpha: 0.05);
  }

  &:active {
    background: rgba($color: #000000, $alpha: 0.075);
  }

  .notification-date {
    color: #A6ADB4;
    font-size: 12px;

    &:hover {
      color: $primary-color;
    }
  }
}
