.notification-drawer {
  --notification-drawer-header-height: 81px;
  --notification-drawer-footer-height: 56px;
  --notification-drawer-background: #FFFFFF;

  .ant-drawer-body {
    padding: 0;
  }

  &__header {
    display: inline-flex;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    align-content: flex-start;
    justify-content: space-between;
    width: 100%;
    height: var(--notification-drawer-header-height);
    padding: 15px;
    background: var(--notification-drawer-background);
    box-shadow: 3px 1px 9px 0 #0000004D;
    font-size: 18px;

    &__title {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }

  .infinite-list-container {
    height: calc(100vh - var(--notification-drawer-header-height));
    margin-top: var(--notification-drawer-header-height);
    overflow: auto;
  }
}
