.notification-drawer {
  --notification-drawer-header-height: 56px;
  --notification-drawer-footer-height: 56px;
  --notification-drawer-background: #FFFFFF;

  .ant-drawer-body {
    padding: 0;
  }

  &__header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--notification-drawer-header-height);
    padding: 0;
    background: var(--notification-drawer-background);
    box-shadow: 3px 1px 9px 0 #0000004D;
    line-height: var(--notification-drawer-header-height);

    &__title {
      margin-left: 1.2rem;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}

.infinite-list-container {
  height: calc(100vh - var(--notification-drawer-header-height));
  margin-top: var(--notification-drawer-header-height);
  overflow: auto;
}

.notification-list {
  .ant-spin-nested-loading {
    min-height: 30vh;
  }

  &__load-more-btn {
    display: block;
    margin: 1.5rem auto;
  }

  &__footer {
    height: 3rem;
  }
}

.notification-item {
  padding: 0.5rem 1rem !important;
  border-bottom: 1px solid black;

  .ant-list-item-meta {
    margin-bottom: 0 !important;

    &-title {
      margin-bottom: 0 !important;
    }
  }

  .ant-list-item-action {
    margin-top: 0.2rem !important;
    padding-left: 3rem;
  }

  border-left: 7px solid transparent;

  &--unread {
    border-left: 7px solid rgb(255, 101, 101);
    background: rgba($color: #FF7070, $alpha: 0.06);
  }

  &__date {
    font-size: 0.7rem;
  }

  &:hover {
    background: rgba($color: #000000, $alpha: 0.05);
  }

  &:active {
    background: rgba($color: #000000, $alpha: 0.075);
  }
}
