@import "../../assets/scss/variables";

.deviceButton {
  padding: 4px;
  background-color: $color-white;
  color: $primary-color;

  &:hover {
    background-color: $primary-color-light;
  }

  & span {
    font-size: 20px;
  }
}

.deviceSelected {
  background-color: $primary-color;
  color: $color-white;

  &:hover {
    background-color: $primary-color;
  }
}
