.authenticator {
  .auth-card {

    .ant-checkbox-wrapper {
      margin-left: 0.2rem;
    }

    &__option-buttons {
      width: 100%;
      padding-top: 1rem;
      .ant-btn-sm {
        height: 30px;
      }
      button:nth-child(2) {
        float: right
      }
    }

  }
}