.auth-card {
  min-width: 300px;
  max-width: 450px;
  margin: 2rem auto;

  &--mobile {
    margin: 0;
  }

  --minor-inset: 0.5rem;

  .ant-form-item-explain,
  .ant-form-item-extra {
    text-align: end;
  }

  .ant-checkbox-wrapper {
    margin-left: var(--minor-inset);
  }

  &,
  .login {
    &__signup-button {
      margin-top: 0.75rem;
      float: right;
    }

    &__options {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 1rem 0;

      button {
        height: 100%;
        padding: 0 var(--minor-inset);
      }
    }
  }

  &,
  .recovery {
    &__instruction-text {
      margin-bottom: 0.5rem;
    }

    &__additional-options {
      display: flex;
      justify-content: space-between;
      margin-top: 0.75rem;
      padding: 0 0.1rem;
    }
  }

  &,
  .signup {
    &__login-button {
      margin-top: 0.75rem;
      float: right;
    }

    &__accept-terms {
      padding: 0;
    }
  }
}
