.active-inactive-badge {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  margin-right: 0.5em;

  &.active {
    background: #78e625;
  }

  &.inactive {
    background: #a6adb4;
  }

  &.deleted {
    background: #e53225;
  }
}

.activeness-display {
  white-space: nowrap;
}
