.language-selector {
  margin-right: 2em;
  cursor: pointer;

  .language-selector__image,
  .language-selector__text {
    margin-right: 5px;
  }

  .language-selector__image {
    width: 20px;
  }
}

.language-selector-dropdown-content__image,
.language-selector-dropdown-content__text {
  margin-right: 10px;
}

.language-selector-dropdown-content__image {
  width: 20px;
}
