@import "../../../assets/scss/variables";

.coupons-list-page {
  .coupons-list {
    &__header {
      display: flex;
      justify-content: space-between;

      h3 {
        display: inline-flex;
        padding-top: 0.1rem;
        padding-bottom: 0;
      }
    }
  }

  .ant-table-pagination {
    @media (max-width: $screen-sm) {
      margin-right: 10px;
    }
  }
}

.table-filter {
  padding: 8px;
}

.table-filter__search-field {
  display: block;
  width: 188px;
  margin-bottom: 8px;
}
