.card-list__container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1500px) {
    grid-template-columns: repeat(4, 1fr);
  }

  li {
    position: relative;

    &.warning {
      margin-bottom: 25px;
      // border-color: $warning-color;
    }

    .warning-message {
      position: absolute;
      top: 100%;
      left: 0;
      // color: $warning-color;
    }

    .ant-row.ant-form-item {
      margin-bottom: 0;
    }
  }
}
