$table-footer-height: 80px;
$table-header-height: 80px;

.responsive-table {
  height: calc(100% - #{$table-footer-height});
  margin: 2rem 2rem 0 2rem;

  .ant-table-container {
    height: 100%;

    .ant-table-content {
      height: 100%;
      overflow-y: auto;
      border-bottom: 2px solid rgba(0, 0, 0, 0.068);

      table {
        th {
          position: sticky;
          z-index: 1;
          top: 0;
          border-bottom: 2px solid rgba(0, 0, 0, 0.068);
        }

        tbody > tr:last-child > td {
          border: none;
        }
      }
    }
  }

  &.has-header-offset {
    height:
      calc(
        100% - #{$table-footer-height} + 10px - #{$table-header-height}
      );
  }

  &.has-fixed-column {
    // height: unset;
    // Always display drop shadow for fixed columns

    .ant-table-container {
      // height: 100%;

      .ant-table-content {
        // height: 100%;
        overflow-y: hidden;
      }
    }

    td.ant-table-cell-fix-right-first {
      right: -1px !important;

      &::after {
        box-shadow: inset -10px 0 8px -8px rgba(0, 0, 0, 0.15);
      }
    }

    th.ant-table-cell-fix-right-first {
      right: -1px !important;
      background: linear-gradient(to left, #FFFFFF 95%, transparent) !important;

      &::after {
        -webkit-box-shadow: unset !important;
        box-shadow: unset !important;
      }
    }
  }

  & + .ant-pagination.ant-table-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $table-footer-height;
    margin: 0;
    padding-bottom: 1rem;
    float: unset;
    text-align: center;

    .ant-pagination-options {
      width: 120px;
    }
  }
}

// Set hover color
.ant-table-tbody > tr.ant-table-row-level-0:hover > td {
  background: #E6FFFB !important;
}

// Fix scroll issue overlap
.ant-table-cell-fix-left,
.ant-table-cell-fix-right {
  z-index: unset;
}
