%shared-responsive-table-varibales {
  --table-title-height: 60px;
  --table-footer-height: 60px;
}

.responsive-table {
  @extend %shared-responsive-table-varibales;

  height: calc(100% - var(--table-footer-height));

  &__error {
    color: rgb(255, 0, 0);
    font-weight: 500;
    text-align: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    & > h3 {
      display: inline-flex;
      padding-top: 0.1rem;
      padding-bottom: 0;
    }

    .ant-btn {
      margin-left: 1rem;
    }
  }

  .ant-table-title {
    height: var(--table-title-height);
  }

  .ant-table-footer {
    height: var(--table-footer-height);
    margin-top: 2px;
  }

  .ant-table-container {
    height: calc(100% - var(--table-title-height));

    .ant-table-content {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;

      table {
        th {
          position: sticky;
          z-index: 1;
          top: 0;
          border-bottom: 2px solid rgba(0, 0, 0, 0.068);
        }

        tbody > tr:last-child > td {
          border: none;
        }
      }
    }
  }

  & + .ant-pagination.ant-table-pagination {
    @extend %shared-responsive-table-varibales;

    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--table-footer-height);
    margin: 0;
    float: unset;
    border-top: 2px solid rgba(0, 0, 0, 0.068);
    text-align: center;

    .ant-pagination-options {
      width: 120px;
    }
  }
}
