@import "../../assets/scss/variables";

.r-card-container {
  max-width: 700px;
  height: inherit;
  margin: auto;
  padding: 0 2rem;

  $r-card-vertical-padding: 15px;

  .r-card {
    height: inherit;
    margin: auto;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 6px 12px -10px rgb(0, 0, 0);

    &--mobile {
      padding: 0;
    }

    .ant-card-body {
      padding: $r-card-vertical-padding 60px;
    }

    &.as-table-wrapper {
      height: calc(93.5vh - 70px);

      .ant-card-body {
        height: calc(100% - 0.5rem);
        padding: 0;

        & > * {
          height: inherit;

          & > * {
            height: inherit;

            & > .ant-spin-container {
              height: calc(100% - 0.5 * #{$r-card-vertical-padding});
            }
          }
        }
      }
    }
  }

  &--mobile {
    border-radius: unset;
    box-shadow: 0 6px 12px -10px rgb(0, 0, 0);
  }

  &--padded-top {
    padding-top: 2rem;
  }

  &--padded-bottom {
    padding-bottom: 2rem;
  }

  &--width-skinny {
    max-width: 55vw;
  }

  &--width-normal {
    max-width: 70vw;
  }

  &--width-full {
    max-width: 85vw;
  }
}
