%shared-responsive-table-varibales {
  --table-footer-height: 80px;
  --table-header-height: 80px;
  --table-margin-top: 2rem;
}

.responsive-table {
  height: calc(100% - var(--table-footer-height) - var(--table-margin-top));
  margin: var(--table-margin-top) 2rem;
  margin-right: 1.5rem;
  margin-bottom: 0;

  @extend %shared-responsive-table-varibales;

  &.has-header-offset {
    height:
      calc(
        100% - var(--table-footer-height) - var(--table-margin-top) -
        var(--table-header-height)
      );
  }

  .ant-table-container {
    height: 100%;

    .ant-table-content {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      border-bottom: 2px solid rgba(0, 0, 0, 0.068);
      border-radius: 0.7rem 0.7rem 0 0;

      table {
        th {
          position: sticky;
          z-index: 1;
          top: 0;
          border-bottom: 2px solid rgba(0, 0, 0, 0.068);
        }

        tbody > tr:last-child > td {
          border: none;
        }
      }
    }
  }

  & + .ant-pagination.ant-table-pagination {
    @extend %shared-responsive-table-varibales;

    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--table-footer-height);
    margin: 0;
    float: unset;
    text-align: center;

    .ant-pagination-options {
      width: 120px;
    }
  }
}
