@import "assets/scss/_variables";

.campaign-user-logs {
  display: grid;
  width: 100%;
  min-height: 40px;
  padding: 5px;
  border: 1px;
  border-style: solid;
  border-color: $control-label-font-color;
  font-size: small;
  justify-items: auto;

  div.ant-col {
    padding: 0 5px 0 5px;
  }

  .campaign-user-log-small-font {
    font-size: $control-label-font-size;
  }

  .campaign-user-log-inner-footer {
    justify-self: end;
  }
}

.campaign-user-logs-title {
  color: $control-label-font-color;
  font-size: $control-label-font-size;
}

.edit-campaign-status {
  div.ant-row:nth-child(1) {
    color: $control-label-font-color;
    font-size: $control-label-font-size;
  }
}

.create-campaign-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 5px;

  .ant-col {
    padding: 3px;
  }
}

.settings-tab {
  .campaign-basic-details {
    max-width: 500px;
  }

  .vertical-splitter {
    height: 100%;
  }
}
