.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 5px;

  button {
    margin-left: 10px;
  }
}

.previousButton {
  margin-right: 50px;
}

.cancelButton {
  position: absolute;
  left: 0;
}
