.panelHeader__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: -24px;

  &__draggable {
    margin-left: 0;
  }
}

.panelHeaderTitle__container {
  display: flex;
  align-items: center;

  * {
    margin-right: 4px;
  }
}
