.card {
  width: 295px;
}

.mainRow {
  flex-direction: column;
}

.title {
  font-weight: 300;
}

.defaultButton {
  margin-left: -15px; // TODO antből nyerje ki?

  span {
    text-decoration: underline;
  }
}

.cancelButton {
  margin-left: -15px; // TODO antből nyerje ki?
}

.applyButtonCol {
  text-align: end;
}
