@import "../../assets/scss/variables";

.draggableArea {
  max-height: 540px;
  overflow: auto;
}

.header {
  display: block;
  padding-bottom: 0.65em;
  border-bottom: 1px solid $border-color-base;
}

.draggableItem {
  display: flex;
  align-items: center;
  padding: 0.65em 0;
  border-bottom: 1px solid $border-color-base;
}

.draggableItemText {
  flex: 1;
  padding: 0 0.3em;
}
