.profile-editor-columns, .profile-editor-footer {
  margin-top: 40px;
}

.profile-editor-footer-right {
  float: right;
}

.profile-editor-card.r-card-container .ant-card-body {
    padding: 40px;
    .ant-picker {
      width: 100%;
    }
}

// .profile-editor-phone-input {
//  max-width: 360px;
// }
